# Vim swap files
.*.sw?

# The gem package directory
/pkg/*

# The documentation directory
/doc/*

# Code coverage reports
/coverage/*

# Rubinius compiled files
*.rbc
.rbx/*

# Bundler support files
/Gemfile.lock
/.bundle/
/vendor/bundle/

# Yardoc support files
/.yardoc/

# Temporary files
/tmp
